/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.fullscreen {
  width: 100vw;
  height: 100vh;
}
.fixscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
.flex {
  display: flex;
}
@keyframes fadeIntoView {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*::before,
*,
*::after {
  font-size: 62.5%;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
}
main {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}
.desktop {
  display: initial;
}
@media (max-width: 500px) {
  .desktop {
    display: none;
  }
}
.mobile {
  display: none;
}
@media (max-width: 500px) {
  .mobile {
    display: initial;
  }
}
.fullscreen-image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -2;
}
.fullscreen-image img {
  position: fixed;
  z-index: -2;
}
.fullscreen-image .dark-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.navigation {
  width: 100%;
  color: white;
  justify-content: space-between;
}
.navigation,
.navigation-flex-container {
  display: flex;
}
.navigation-logo-text {
  padding: 0.5%;
  font-size: 1.3rem;
  width: 25%;
}
.navigation-flex-container {
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8rem;
}
.content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 70%;
  margin: 0 auto;
  height: 100%;
  font-size: 3rem;
}
.content-fade-animation {
  animation: fadeIntoView 2s 0s linear forwards;
  text-align: center;
}
.content-app-button {
  margin-top: 3%;
  cursor: pointer;
  background: #0084ff;
  border-radius: 10px;
  padding: 1% 4%;
  font-size: 2rem;
  opacity: 0;
  animation: fadeIntoView 2s 2.1s linear forwards;
}
.content-app-button:hover {
  background: #006acc;
}
.content-buttons {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .content {
    font-size: 1.9rem;
  }
  .content-app-button {
    padding: 1% 4%;
    font-size: 1.5rem;
  }
}
